@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .range {
    appearance: none;
    @apply bg-gray-400 bg-gradient-to-r from-gray-500 to-gray-500;
    height: 3px;
    background-size: var(--range-fill-percent, 0%) 100%;
    background-repeat: no-repeat;
  }

  .range::-webkit-slider-thumb {
    appearance: none;
    @apply bg-gray-500;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: ew-resize;
  }

  .range::-webkit-slider-runnable-track {
    appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}

@keyframes spinner {
  8.3% {
    transform: rotate(30deg);
  }
  16.6% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.3% {
    transform: rotate(120deg);
  }
  41.6% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.3% {
    transform: rotate(210deg);
  }
  66.6% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.3% {
    transform: rotate(300deg);
  }
  91.6% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Clash Display';
  src: url('public/fonts/clash-display/clash-display-semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('public/fonts/dm-sans/dm-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('public/fonts/inter/inter-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
